.list-group-item {
  padding: 15px 20px;
  border-bottom: 1px solid #3d5a80;
}

.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item span {
  line-height: 35px;
  font-size: 20px;
  cursor: pointer;
  max-width: 550px;
}

.list-group-item input {
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  border: 0;
}

.list-group-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.list-group-item .btn-cookie {
  color: #e09f3e;
}
.list-group-item .btn-trash {
  color: #e5383b;
}
.list-group-item .fa-star {
  color: #FFD700;
  opacity: 0;
  transform: translateX(30px);
  transition: 0.3s ease;
}

.list-group-item.liked .fa-star {
  transition: 0.3s ease;
  opacity: 1;
  transform: translateX(0px);
}

.list-group-item.increase .list-group-item-label,
.list-group-item.increase .list-group-item-input {
  color: #e09f3e;
}

.list-group-item.increase .btn-star {
  color: #aeaeae;
}